* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 15px auto;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    
    background-color: rgb(40, 77, 99);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.navbar a {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
}

.navbar {    
    display: flex;
    gap: 30px;
}

.main {
    
    background-color: rgb(33, 126, 180);
}

.bio img {
    width: 150px;
    padding-left: 30px;
}

.bio {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
}


.bio {
    font-family: 'Open Sans', sans-serif;
    color: white;
}



.jarak {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}